*{
    text-transform: uppercase;
    text-align: center;
    background-color: aqua;
    color: blue;
}
h6{
    text-transform: uppercase;
    text-align: center;
    background-color: yellow;
    color:blue;
}

